body {
  background: #000000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.btn {
  white-space: normal;
}

.btn-xl {
  padding: 12px 0px 0px 0px;
  font-size: 18px;
  text-align: right;
}

.btn-primary {
  color: #efefef;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  color: #9933ff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:active {
  color: #9933ff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:active:focus {
  color: #9933ff;
  background-color: #000000;
  border-color: #000000;
  outline: 0;
}

.btn-primary:focus {
  color: #9933ff;
  background-color: #000000;
  border-color: #000000;
  outline: 0;
}

p {
  color: #efefef;
}

p.footer {
  text-align: right;
  font-size: 8pt;
}

.highlight {
  color: #ff9933;
  font-size: 20px;
  font-style: italic;
}

a:link {
  color: #9933ff;
}

a:visited {
  color: #9933ff;
}

#email {
  text-align: right;
}

#address {
  text-align: right;
  font-size: 11px;
}

#logo {
  float: left;
  max-width: 270px;
  width: 100%;
}

li {
  color: #efefef;
}

h4 {
  color: #9933ff;
}

.img-thumbnail {
  background-color: #efefef;
  padding: 1px;
}

.img-mosaic {
  padding: 3%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.content {
  font-size: 15px;
  padding: 2% 0% 0% 5%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul {
   list-style: none;
}

ul li:before {
   content: "•";
   font-size: 70%;
   padding-right: 5px;
}